# PostgreSQL principal (Master Gateway)
POSTGRES_PORT=5442
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=master_gateway
DATABASE_URL="postgresql://postgres:postgres@localhost:5442/master_gateway?schema=public"

# Kong Database
KONG_DB_USER=kong
KONG_DB_PASSWORD=kong
KONG_DB_NAME=kong
KONG_DB_AUTH_METHOD=password

# SonarQube Database
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonar
SONAR_DB_NAME=sonar
SONAR_JDBC_URL="jdbc:postgresql://sonar-db:5432/sonar"

# Backend
PORT=3000
FRONTEND_ORIGIN="http://localhost:4200"
JWT_ISSUER="master-gateway"
JWT_AUDIENCE="master-gateway-clients"
JWT_PRIVATE_KEY_PATH="./keys/private.pem"
JWT_PUBLIC_KEY_PATH="./keys/public.pem"
INTERNAL_API_KEY="change-me-internal-key"
INTERNAL_ALLOWED_SERVICES=""
OPA_URL="http://localhost:8181"
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="Admin12345!"

# Frontend
FRONTEND_VUE_PORT=4201

# SonarQube
SONARQUBE_PORT=9000
SONAR_HOST_URL="http://localhost:9000"

# Microservicios externos (para desarrollo local)
VENTAS_PORT=3006
INVENTARIO_PORT=3007
REPORTES_PORT=3008
MASTER_VALIDATE_URL="http://localhost:3000/api/internals/validate-token"
MASTER_INTERNAL_API_KEY="change-me-internal-key"
MASTER_INTERNAL_SERVICE_NAME="ventas"
VENTAS_ALLOWED_ROLES="ADMIN,VENTAS"
INVENTARIO_ALLOWED_ROLES="ADMIN,INVENTARIO"
REPORTES_ALLOWED_ROLES="SUPERADMIN,ADMIN,REPORTES"

# Test API script
TEST_USER_PASSWORD="ChangeMe123!"
